// Gradient as body background
body.darkTh {
    background: #333333;
    background: -moz-linear-gradient(top, #111111 0%, #333333 100%);
    background: -webkit-linear-gradient(top, #111111 0%, #333333 100%);
    background: linear-gradient(to bottom, #111111 0%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#333333',GradientType=0 );
    color: #9c9c9c;

    a {
        color: #518dc6;

        &:hover {
            color: #84c3ff;
        }
    }

    [data-role="navBarItem"] > a:hover {
        color: #fff !important;
    }

    a.ipsType_blendLinks, .ipsType_blendLinks a {
        color: #92b3d3;
    }

    // Remove background color on central content areas so that main background is used
    #ipsLayout_mainArea,
    #ipsLayout_sidebar,
    #ipsLayout_header header,
    .ipsBreadcrumb.ipsBreadcrumb_top {
        background-color: #2C2C2C;
    }

    // Main background
    #ipsLayout_contentWrapper {
        background-color: #2C2C2C;
    }

    // Footer
    #ipsLayout_footer a,
    #ipsLayout_footer p {
        color: #fff;
    }

    // Background for some content sections
    .ipsBox:not(.ipsBox_transparent):not(.ipsModerated),
    .ipsTabs_panel,
    .ipsTabs_activeItem {
        background: #252525;
    }

    .ipsTabs_activeItem {
        color: #fff;
    }

    // Area backgrounds and data lists
    .ipsDataList.ipsDataList_zebra .ipsDataItem:not(.ipsDataItem_selected):not(.ipsModerated):not(.ipsDataItem_new):not(.ipsDataItem_success):not(.ipsDataItem_warning):not(.ipsDataItem_error):not(.ipsDataItem_info):not(.ipsDataItem_status):nth-child(even) {
        background: #2C2C2C;
    }

    .ipsDataItem {
        border-color: rgba(255, 255, 255, 0.1);
    }

    .ipsItemStatus.ipsItemStatus_large.ipsItemStatus_read {
        background: rgba(0, 0, 0, 0.3);
        color: #808080;
    }

    .ipsItemStatus.ipsItemStatus_read:not(.ipsItemStatus_large) {
        color: #777;
    }

    // Font colors that need resetting
    .ipsType_pageTitle {
        color: #fff;
    }

    .ipsWidget.ipsWidget_vertical .ipsWidget_inner,
    #elSiteTitle,
    .ipsType_sectionHead {
        color: #f0f0f0;
    }

    .ipsType_richText,
    .ipsType_veryLarge {
        color: #dbdbdb;
    }

    .ipsFieldRow_desc {
        color: #999;
    }

    // Reset nav areas for correct coloring
    .ipsNavBar_primary > ul > li > a {
        background: #3c6994;
    }

    .ipsNavBar_primary > ul > li > a:hover {
        background: #3c6994;
    }

    .ipsNavBar_primary > ul > li.ipsNavBar_active > a {
        background: #5B94C5;
        color: #FFFFFF;
    }

    .ipsBreadcrumb > ul > li {
        color: #fff;
    }

    // Menu stuff that needs changing
    .ipsSideMenu_itemActive a,
    a.ipsSideMenu_itemActive,
    .ipsSideMenu_withChecks .ipsSideMenu_item > input[type="checkbox"]:checked ~ a,
    .ipsSideMenu_withRadios .ipsSideMenu_item > input[type="radio"]:checked ~ a {
        background: #222;
    }

    .ipsSideMenu_item:not(.ipsSideMenu_itemActive) a:hover,
    a.ipsSideMenu_item:not(.ipsSideMenu_itemActive):hover {
        background: rgba(255, 255, 255, 0.03);
    }

    .ipsSideMenu_subTitle {
        text-transform: uppercase;
        color: #868686;
        font-size: 11px;
    }

    .ipsSideMenu_withChecks .ipsSideMenu_item:not(.ipsSideMenu_itemActive) a:after,
    .ipsSideMenu_withChecks a.ipsSideMenu_item:not(.ipsSideMenu_itemActive):after,
    .ipsSideMenu_withRadios .ipsSideMenu_item:not(.ipsSideMenu_itemActive) a:after,
    .ipsSideMenu_withRadios a.ipsSideMenu_item:not(.ipsSideMenu_itemActive):after {
        color: rgba(255, 255, 255, 0.15);
    }

    // Forms
    .ipsApp .ipsField_autocomplete,
    .ipsApp textarea,
    .ipsApp input[type="text"],
    .ipsApp input[type="password"],
    .ipsApp input[type="datetime"],
    .ipsApp input[type="datetime-local"],
    .ipsApp input[type="date"],
    .ipsApp input[type="month"],
    .ipsApp input[type="time"],
    .ipsApp input[type="week"],
    .ipsApp input[type="number"],
    .ipsApp input[type="email"],
    .ipsApp input[type="url"],
    .ipsApp input[type="search"],
    .ipsApp input[type="tel"],
    .cke_wysiwyg_frame,
    .cke_wysiwyg_div,
    .ipsApp select:not([multiple]) {
        color: #333;
    }

    .ipsFieldRow_required {
        color: #ff6262;
    }

    .ipsFieldRow_section {
        background: #000;
        color: #999;
    }

    .ipsComposeArea_editor {
        background: #444;
    }

    html[dir="ltr"] .ipsComposeArea_withPhoto .ipsComposeArea_editor:before {
        border-color: transparent #444 transparent transparent;
    }

    html[dir="rtl"] .ipsComposeArea_withPhoto .ipsComposeArea_editor:before {
        border-color: transparent transparent transparent #444;
    }

    .ipsImageAttach_thumb {
        background: #000;
    }

    .ipsAttachment_dropZone.ipsDragging,
    .ipsComposeArea_dropZone.ipsDragging {
        background: #2c5165;
        border-color: #6fa9ca;
    }

    .ipsLoading:before,
    .ipsLoading.ipsLoading_small:before,
    .ipsLoading.ipsLoading_tiny:before {
        color: #e0e0e0;
    }

    // Dialogs
    .ipsModal {
        background: rgba(0, 0, 0, 0.8);
    }

    .ipsDialog > div,
    .ipsDialog .ipsDialog_loading {
        background: #222;
    }

    .ipsDialog_title,
    .ipsDialog_close {
        color: #fff;
    }

    .ipsHovercard {
        background: #222;
        border-color: #000;
        color: #9c9c9c;
    }

    .ipsHovercard_stemTop .ipsHovercard_stem {
        border-color: #222 transparent transparent transparent;
    }

    .ipsHovercard_stemTop .ipsHovercard_stem:before {
        border-color: #000 transparent transparent transparent;
    }

    .ipsHovercard_stemBottom .ipsHovercard_stem {
        border-color: transparent transparent #222 transparent;
    }

    .ipsHovercard_stemBottom .ipsHovercard_stem:before {
        border-color: transparent transparent #000 transparent;
    }

    .ipsMenu {
        background: #222;
        border-color: #000;
    }

    .ipsMenu.ipsMenu_bottomRight:before,
    .ipsMenu.ipsMenu_bottomLeft:before,
    .ipsMenu.ipsMenu_bottomCenter:before {
        border-color: transparent transparent #000 transparent;
    }

    .ipsMenu.ipsMenu_bottomRight:after,
    .ipsMenu.ipsMenu_bottomLeft:after,
    .ipsMenu.ipsMenu_bottomCenter:after {
        border-color: transparent transparent #222 transparent;
    }

    .ipsMenu.ipsMenu_topRight:before,
    .ipsMenu.ipsMenu_topLeft:before,
    .ipsMenu.ipsMenu_topCenter:before {
        border-color: #000 transparent transparent transparent;
    }

    .ipsMenu.ipsMenu_topRight:after,
    .ipsMenu.ipsMenu_topLeft:after,
    .ipsMenu.ipsMenu_topCenter:after {
        border-color: #222 transparent transparent transparent;
    }

    .ipsMenu_item:not(.ipsMenu_itemClicked):not(.ipsMenu_itemDisabled) a:hover,
    .ipsMenu_item[data-selected] a, .ipsMenu_item[data-selected] span {
        background: #000;
    }

    .ipsMenu_sep {
        border-color: rgba(255, 255, 255, 0.1);
    }

    .ipsMenu_title {
        background: #444;
        color: #e0e0e0;
    }

    .ipsMenu_item > a, .ipsMenu_item > span {
        color: #fff;
    }

    .ipsMenu .ipsType_sectionHead {
        color: #fff;
    }

    .ipsMenu input {
        color: #fff;
    }

    .ipsMenu_headerBar,
    .ipsMenu_footerBar {
        background: #222;
    }

    .ipsMenu_headerBar,
    .ipsMenu_footerBar {
        border-color: rgba(255, 255, 255, 0.1);
    }

    .ipsMenu_itemDisabled > a,
    .ipsMenu_itemDisabled > span {
        color: #969696;
    }

    #elFlashMessage {
        background: #3d3d3d;
        color: #fff;
    }

    #elFlashMessage a {
        color: #fff;
        border-bottom: 1px solid rgba(65, 65, 65, 0.6);
    }

    // Profile
    // Box shadow doesn't look good here, so remove it
    #elProfileHeader {
        box-shadow: 0 0 0;
    }

    #elProfileStats {
        background: #333;
    }

    html[dir] #elProfileStats > ul:last-child > li {
        border-color: rgba(255, 255, 255, 0.1);
    }

    // Streams
    // Remove the background; not needed on dark theme
    body[data-pageapp="core"][data-pagemodule="discover"][data-pagecontroller="streams"] [data-controller="core.front.streams.activity"] > .ipsAreaBackground_light {
        background-color: #3d3d3d;
        padding: 0;
    }

    html[dir="ltr"] .ipsStream_withTimeline .ipsStreamItem.ipsStreamItem_contentBlock:after {
        border-color: transparent #333333 transparent transparent;
    }

    html[dir="rtl"] .ipsStream_withTimeline .ipsStreamItem.ipsStreamItem_contentBlock:after {
        border-color: transparent transparent transparent #333333;
    }

    html[dir="ltr"] .ipsStream_withTimeline .ipsStreamItem.ipsStreamItem_contentBlock:before {
        border-color: transparent #222222 transparent transparent;
    }

    html[dir="rtl"] .ipsStream_withTimeline .ipsStreamItem.ipsStreamItem_contentBlock:after {
        border-color: transparent transparent transparent #222222;
    }

    .ipsStream .ipsStreamItem_contentType {
        background: #D1D1D1;
        color: #000;
    }

    .ipsStreamItem_time {
        color: #fff;
    }

    html[dir] .ipsStreamItem.ipsStreamItem_condensed .ipsStreamItem_stats {
        border-color: rgba(255, 255, 255, 0.2);
    }

    // Post content
    .ipsQuote_citation {
        background: #3d3d3d;
        color: #e0e0e0;
    }

    .ipsQuote .ipsQuote_citation a {
        color: #fff;
    }

    .ipsQuote {
        background: #222;
        border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) #000;
    }

    iframe[data-embedContent],
    .ipsEmbedded_content {
        background-color: #222;
    }

    .ipsEmbedded_headerArea {
        background: #111;
    }

    .ipsEmoticons_item[data-emoticon]:hover {
        background: #111;
    }

    // Pagination
    .ipsPager_type,
    .ipsPager .ipsPager_next a:after,
    .ipsPager .ipsPager_prev a:after {
        color: #e0e0e0;
    }

    .ipsPagination.ipsPagination_mini a {
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
    }

    // Comments
    .ipsComment {
        background: #333;
    }

    .ipsComment:not(.ipsModerated) .ipsComment_header {
        background: #292929;
    }

    // Miscellaneous
    .ipsPageHead_special {
        background: #222;
    }

    .cUserHovercard .ipsPageHead_special {
        background: #111;
    }

    hr.ipsHr {
        border-color: rgba(255, 255, 255, 0.1);
    }

    .ipsTooltip {
        background: #000;
    }

    .ipsTabs_panels.ipsTabs_contained {
        border-color: #444;
    }

    .ipsTabs.ipsTabs_contained {
        border-color: #444 #444 transparent #444;
    }

    #elSearch {
        background: #000;
    }

    .ipsPip {
        color: #e0e0e0;
    }

    .ipsEmpty {
        color: rgba(255, 255, 255, 0.18);
    }

    .ipsScrollbar::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
    }

    .ipsAlert_msg,
    .ipsAlert_icon {
        color: #555;
    }

    .ipsProgressBar_progress {
        background: #e0e0e0;
        color: #333;
        text-shadow: 0 0 0;
    }

    .ipsProgressBar.ipsProgressBar_animated .ipsProgressBar_progress {
        background-color: #aaa;
    }

    .ipsProgressBar_progress[data-progress]:after {
        color: #333;
    }

    .ipsThumb, .ipsImage_thumbnailed {
        border: 1px solid #000;
    }

    .ipsUserPhoto {
        background: #000;
    }

    .ipsApp_front .ipsTable.ipsMatrix .ipsMatrix_subHeader {
        background: #222;
        color: #fff;
    }

    .ipsTable.ipsMatrix thead th {
        background: #395E7E;
    }

    .ipsWidget {
        background: #333;
    }

    .ipsWidget.ipsWidget_horizontal .ipsWidget_title {
        color: #fff;
        background-color: #252525;
    }

    .ipsWidget .ipsTabs_small .ipsTabs_activeItem {
        border-bottom: 0;
    }

    .ipsWidget .ipsTabs_small .ipsTabs_item:not(.ipsTabs_activeItem) {
        color: #999;
    }

    .ipsWidget_title .ipsType_light {
        color: #d0d0d0;
    }

    .ipsLikeRep {
        background: #222;
    }

    #ipsMultiQuoter {
        background: #000;
    }

    // Calendar
    .cCalendar td.cCalendar_nonDate {
        background: #000;
    }

    .cCalendarSubmit_field .fa {
        color: #333;
    }

    #elEventHeader_details {
        background: #333;
    }

    // Blog
    #elBlogHeaderStats {
        background: #333;
    }

    .cBlogInfo_content:after {
        background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(51, 51, 51, 0)), color-stop(100%, rgba(51, 51, 51, 1)));
        background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
        background: -o-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
        background: -ms-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
        background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
    }

    // Gallery
    .cGallerySteps > li.cGallerySteps_done span:after,
    .cGallerySteps > li.cGallerySteps_done + li span:before,
    .cGallerySteps > li.cGallerySteps_done a:after,
    .cGallerySteps > li.cGallerySteps_done + li a:before,
    .cGallerySteps > li.cGallerySteps_active:before,
    .cGallerySteps > li.cGallerySteps_done:before {
        background: #AF1F52;
    }

    .cGallerySteps > li span:before,
    .cGallerySteps > li span:after,
    .cGallerySteps > li a:before,
    .cGallerySteps > li a:after,
    .cGallerySteps > li:before {
        background: #555;
    }

    .cGallerySteps > li span,
    .cGallerySteps > li a {
        color: #555;
    }

    .cGallerySteps > li.cGallerySteps_done span,
    .cGallerySteps > li.cGallerySteps_active span,
    .cGallerySteps > li.cGallerySteps_done a,
    .cGallerySteps > li.cGallerySteps_active a {
        color: #fff;
    }

    .cGallerySubmit_uploadImages .ipsAttachment_dropZone:not(.ipsDragging) {
        border-color: #555;
    }

    .cGallerySubmit_strip {
        background: #1e1e1e;
    }

    #elGalleryHeader {
        margin: -15px 0 20px 0;
    }

    .cGalleryNote_note {
        background: #000;
    }

    .cGalleryNote_editing .cGalleryNote_note textarea {
        color: #fff;
    }

    .cGalleryImageItem.cGalleryImageItem_selected {
        background: #404a53;
    }

    // Downloads
    #elDownloadsSubmit .ipsAttachment_dropZone {
        background: #222;
        border-color: #555;
    }

    // Pages
    .cCmsCategoryFeaturedEntry {
        border-color: rgba(255, 255, 255, 0.1);
    }

    // Commerce
    .cNexusSupportMessage_m .cNexusSupportMessage_author,
    .cNexusSupportMessage_a .cNexusSupportMessage_author {
        background: #395b76;
    }

    .cNexusSupportMessage_s .cNexusSupportMessage_author {
        background: #517355;
    }

    // Chat
    #elChatTabs {
        background: #5B94C5;
        color: #fff;
    }

    #ipsTabs_elChatTabs_chatroom_panel > .ipsColumns > .ipsColumn_wide {
        background: #292929;
    }

    .cChatUserRow:hover,
    .cChatUserRow_hover {
        background: #111;
    }

    .cChatRow_own {
        background: #404852;
    }

    .cChatRow_own .cChatRow_user,
    .cChatRow_own .cChatRow_content,
    .cChatRow_own .cChatRow_date {
        border-color: #343e4b;
    }

    .cChatRow .cChatRow_user,
    .cChatRow .cChatRow_content,
    .cChatRow .cChatRow_date {
        border-color: #292929;
    }

    // Custom for Asylum
    #ipsLayout_header header {
        background-color: #3c6994;
    }

    #ipsLayout_mainArea, #ipsLayout_sidebar {
        background-color: #2C2C2C;
    }

    .ipsAreaBackground_reset {
        background-color: #252525;
    }

    .ipsNavBar_primary {
        background-color: #1a3249;
    }

    .ipsNavBar_secondary {
        background-color: #252525;
    }

    .ipsType_sectionTitle {
        background-color: #1a3249;
    }

    .ipsWidget.ipsWidget_vertical .ipsWidget_title {
        background-color: #1a3249;
    }

    .ipsNavBar_secondary > li > a {
        color: #dbdbdb;

        &:hover {
            border-bottom: 2px solid #323232;
        }
    }

    .ipsNavBar_secondary > li.ipsNavBar_active a {
        color: #fff;
        border-bottom: 2px solid #4c4c4c;
    }

    .ipsBreadcrumb [data-action="defaultStream"], .ipsBreadcrumb [data-action="markSiteRead"] {
        color: #fff;
    }

    .cTopicPostArea .ipsComposeArea {
        background-color: #2C2C2C;
    }

    .ipsButtonBar {
        background-color: #2C2C2C;
    }

    a.ipsType_sectionTitle, .ipsType_sectionTitle a {
        color: #fff;
    }

    .ipsBreadcrumb > ul:last-child > li:last-child {
        opacity: 1;
    }

    .ipsNavBar_primary:not(.ipsNavBar_noSubBars) > ul:before {
        background-color: #252525;
    }

    .ipsAreaBackground_light {
        background-color: #3d3d3d;
    }

    .ipsFaded_withHover {
        transition: none;
        -webkit-transition: none;
    }

    .ipsAreaBackground {
        background-color: #3d3d3d;
    }

    .ipsQuote_contents.ipsClearfix.cke_widget_editable {
        color: #fff;
    }

    .ipsList_inline .ipsList_noSpacing .ipsClearfix > li > a {
        color: #fff;
    }

    .ipsItemStatus.ipsItemStatus_large {
        background-color: #3c6994;
    }

    .ipsItemStatus:not(.ipsItemStatus_large) {
        color: #518dc6;
    }

    a.ipsButton.ipsButton_important.ipsButton_medium.ipsButton_fullWidth {
        background-color: #3c6994;
    }

    button.ipsButton.ipsButton_primary {
        background-color: #3c6994;
    }

    a.ipsButton.ipsButton_like.ipsButton_alternate {
        background-color: #2d4760;
    }

    .cShareLink {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .ipsButton:hover {
        color: #fff;
    }

    a.ipsType_blendLinks:not(.ipsType_noUnderline):hover, .ipsType_blendLinks:not(.ipsType_noUnderline) a:not(.ipsType_noUnderline):hover {
        color: #84c3ff;
    }

    .cForumTitle {
        transition: none;
        -webkit-transition: none;
    }

    .ipsDataList_readStatus .ipsDataItem:not(.ipsDataItem_unread):not(.ipsDataItem_selected):not(.ipsModerated) {
        background-color: #2c2c2c;
    }

    .ipsFollow.ipsButton.ipsButton_light.ipsButton_verySmall {
        background-color: #3d3d3d;
    }

    /*.ipsCode {
        background-color: #3d3d3d;
    }

    .pln {
        color: #fff;
    }*/

    a[data-mentionid] {
        background-color: transparent;
    }

    .ipsSpoiler_contents {
        background-color: #3d3d3d;
        color: #fff;
    }

    .ipsSpoiler {
        background-color: #2C2C2C;
    }

    .ipsButton_veryLight:hover {
        color: #333333;
    }

    .ipsButton_light:hover {
        color: #333333;
    }

    .ipsTabs.ipsTabs_stretch .ipsTabs_item {
        color: #fff;
    }

    .ipsApp .ipsButton_important {
        background-color: #3c6994;
    }

    .ipsTabs_item {
        color: #fff;
    }
}